# Mark JS assets and generated code as vendored to exclude them from language statistics
assets/js/* linguist-vendored
assets/js/php-wasm/* linguist-vendored
assets/js/php-wasm/bin/* linguist-vendored
pkg/* linguist-vendored
pkg/* linguist-generated
static/* linguist-vendored
*.min.js linguist-vendored
*.js linguist-vendored
